{% extends "editor.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section>
	<div>
		标题：<input type="text" name="title">
	</div>
	<div>
		<label for="fileUpLoad">缩略图：</label><input type="file" id="fileUpLoad" name="fileUpLoad" />
		<div>
			<img src="" id="upload" width="200" height="200" style="background-color: #ccc">
		</div>
	</div>
	<div>
		文章类型：
		<label for="type_0"><input type="radio" name="type" value="0" id="type_0"/>凯融视角</label>
		<label for="type_1"><input type="radio" name="type" value="1" id="type_1"/>案例分析</label>
		<label for="type_2"><input type="radio" name="type" value="2" id="type_2"/>凯融活动</label>
	</div>
	<div>
		时间：<input type="text" name="time">
	</div>
	<div>
		转自：<input type="text" name="tips">
	</div>
	<div>
		摘要：<input type="text" name="summary">
	</div>
	<div id="editor">
		<p>请输入您想要的内容！</p>
	</div>
	<div>
		<button id="submit">确认提交</button>
	</div>
</section>
{% endblock %}

{% block js %}
<script src="/resource/js/wangEditor.min.js"></script>
<script src="/resource/js/ajaxfileupload.js"></script>
<script>
	$(document).ready(function(){
		const E = window.wangEditor;
		const editor = new E('#editor');
		editor.customConfig.uploadImgServer = '/app/interface/imgUpload';
		editor.create();
		$.ajax({
			type: 'POST',
			url: '/app/interface/database',
			data: {
				table: 'news_table',
				type: 'get',
				data: {
					columns: '*',
					where: {
						id: {{ id }}
					}
				}
			} ,
			success: function (d){
				const data = JSON.parse(d);
				$("input[name = 'title']").val(data.title);
				$('#upload').attr("src", data.pic);
				$('#type_' + data.type).prop('checked','checked');
				$("input[name = 'time']").val(data.time);
				$("input[name = 'tips']").val(data.tips);
				$("input[name = 'summary']").val(data.summary);
				editor.txt.html(data.content);
			}
		});
		$('#fileUpLoad').on('change', function () {
			$.ajaxFileUpload({
				url: '/app/interface/imgUpload',
				secureuri: false,
				fileElementId: 'fileUpLoad',
				dataType: 'JSON',
				success: function (data, status){
					$('#upload').attr("src", JSON.parse(data).data);
				},
				error: function (data, status, e){
					console.log(e);
				}
			})
		});
		$('#submit').on('click', function(){
			const $title = $("input[name = 'title']").val(),
				$pic = $('#upload').attr("src"),
				$type = $("input[name = 'type']:checked").val(),
				$time = $("input[name = 'time']").val(),
				$tips = $("input[name = 'tips']").val(),
				$summary = $("input[name = 'summary']").val(),
				$content = editor.txt.html();
			if ($title !== '' && $pic !== '' && $summary !== '' && $content !== '') {
				$.ajax({
					type: 'POST',
					url: '/app/interface/database',
					data: {
						table: 'news_table',
						type: 'update',
						data: {
							data: {
								title: $title,
								pic: $pic,
								type: $type,
								time: $time,
								tips: $tips,
								summary: $summary,
								content: $content
							},
							where: {
								id: {{ id }}
							}
						}
					} ,
					success: function (d){
						JSON.parse(d) ? alert('OK，OK，更新了已经~') : alert('没改什么就别提交了');
					}
				});
			} else {
				alert('看看有没有落下什么内容没填的好吗？');
			}
		});
	});
</script>
{% endblock %}
