{% extends "editor.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="editor_form editor_login">
	<div>
		<span>用户名：</span><input type="text" name="name">
	</div>
	<div>
		<span>密码：</span><input type="password" name="password">
	</div>
	<input type="button" id="btn" value="登陆">
</div>
{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		$('#btn').on('click', function(){
			const $name = $("input[name = 'name']").val(),
				$password = $("input[name = 'password']").val();
			if ($name !== '' && $password !== '') {
				$.ajax({
					type: 'POST',
					url: '/app/interface/isLogin.php',
					data: {
						table: 'info',
						type: 'has',
						data: {
							where: {
								name: $name,
								password: $password
							}
						}
					} ,
					success: function (d){
						if (JSON.parse(d)) {
							window.location.href='/editor/lists';
						} else {
							alert('请确认输入密码是否正确');
						}
					}
				});
			} else {
				alert('请确认已输入用户名或密码！')
			}
		});
		$(document).keyup(function(event){
		  if(event.keyCode ==13){
		    $("#btn").click();
		  }
		});
	});
</script>
{% endblock %}
