<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Error</title>
</head>

<body>
	404 not found!
	<script src="/resource/js/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			const $table = 'info';
			const $type = 'select';
			const $data = {
					columns: 'uid',
					where: {
						name: 'chengdiankeji'
					}
				};
			$.ajax({
		        type: 'POST',
		        url: '/app/interface/database',
		        data: {
					table: $table,
		            type: $type,
					data: $data
		        },
		        success: function (d){
		            console.log(JSON.parse(d));
		        }
        	});
		});
	</script>
</body>

</html>
