{% extends "public.html" %}
{% block meta %}
<meta name="keywords" content="{{ keywords }}">
<meta name="description" content="{{ description }}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block link %}
<link rel="stylesheet" href="/public/css/index.css">
{% endblock %}

{% block content %}
<!--banner-->
<section>
	<div class="min-width banner"></div>
</section>
<!--banner结束-->
<!--第一部分 start-->
<section>
	<div class="introduction container">
		<div class="thumbnail margin-top">
			<div class="caption">
				<h4>凯容简介</h4>
				<h5>KAIRONG INTRODUCTION</h5>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳前海凯融资本管理有限公司（简称凯融资本）是行业内领先的知名企业。公司成立于2016年，是一家在深圳注册，在北京设有行业研究中心的投资公司。公司的主要业务是私募股权投资，重点布局航空、教育、消费升级等领域。自成……</p>
			</div>
			<img src="/public/image/index/3.jpg" alt="...">
		</div>
		<div class="thumbnail">
			<img src="/public/image/index/2.jpg" alt="...">
			<div class="caption">
				<h4>凯容团队</h4>
				<h5>KAIRONG TEAM</h5>
				<p class="p_color">以专业的人才， 在专注的领域，做专业的服务</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;凯融资本团队在金融、模式、运营方面的专业化经验和职业操守确保凯融资本成为资本、运营、管理三位一体的全方位解决方案专家。凯融资本以专业顾问团队和合伙人团队为核心，搭建……</p>
			</div>
		</div>
		<div class="thumbnail margin-top">
			<div class="caption">
				<h4>投资理念</h4>
				<h5>INVESTMENT IDEA</h5>
				<p class="p_color">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;谋定，以稳健前行；后动，以创新开拓；整合资源，以常获丰足。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;凯融人本着稳健+创新的投资理念，高效整合资源，为投资人创造风险可控的投资收益，为合作企业实现产业、资本市场的综合......
				</p>
			</div>
			<img src="/public/image/index/1.jpg" alt="...">
		</div>
		<div class="thumbnail">
			<img src="/public/image/index/4.jpg" alt="...">
			<div class="caption">
				<h4>融资文化</h4>
				<h5>KAIRONG CULTURE</h5>
				<p class="p_color">凯融资本tt企业文化的核心是尊重与坚毅。以尊重为表达方式，以坚毅为行为准则，是凯融人一直秉承的行事标准。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大爱无声，大德无形。尊重为德，凯融资本自成立以来就以尊重待人。尊重市场：遵循商业规律，尊重市场规则；尊重客户，以专业负责的态度付出高品质的服务；尊重合作伙伴，以创业的心态与合作伙伴共同成长。对于凯融来说尊重是最好的表达式。</p>
			</div>
		</div>
	</div>
</section>
<!--第一部分 end-->
<!--聚焦行业 start-->
<section>
	<div class="focus min-width">
		<div class="focus-first-child">
			<h4>聚焦行业</h4>
			<p>凯融资本的主要业务是私募股权投资，重点布局航空、教育、消费升级领域</p>
			<p>The main business of Kai Rong capital is private equity investment, focusing on the field of aviation, education and consumption </p>
			<a href="#">了解更多</a>
		</div>
		<div class="focus-last-child">
			<div class="focus-last-child-1">
				<h4>航空: 深耕”航空经济”打造航空+模式</h4>
				<span>凯融资本作为专业的基金管理团队，在航空领域与各级政府投资平台建立了良好的合作关系，以产业基金、政府引导基金托管、专项基金等多种模式共同推进地方航空产业的产业结构搭建和实体运营，打造新型航空经济平台。
				</span>
			</div>
			<div class="focus-last-child-2">
				<span>教育:长期关注中国境内职业教育和专业培训、国际K12教育、国际职业培训领域</span>
			</div>
			<div class="focus-last-child-2">
				<span>消费升级:凯融资本以专业的行业研究和高效的的资源整合密切关注消费升级领域的趋势与机会.</span>
			</div>
		</div>
	</div>
</section>
<!--聚焦行业 end-->
<!--业务模式 start-->
<section>
	<div class="module3 min-width">
		<div class="module3-1">
			<h4 class="h4">业务模式</h4>
			<span>实业依托金融做大，金融透过实业落地</span>
			<span class="span-block">Industry relies on finance to become bigger, and finance comes to the ground through industry</span>
		</div>
		<div class="module3-2">
			<div>
				<img src="/public/image/index/5.jpg" alt="">
				<div>
					<h5>股权融资</h5>
					<span class="span-inline">equity financing</span>
				</div>
				<span class="span">凯融资本的私募融资团队为各阶段的企业提供专业、量身定制的融资服务方案，提供融资支持和融后管理。从公司发展初期即深耕各细分领域，与中国各领域企业管理者建立长远紧密的合作关系。凯融资本团队拥有广泛深入的产品知识、密切追踪市场和投资人动态精准把握融资时机和节奏，以确保项目高效有序地执行。</span>
				<a href="#" class="span-position">READ MORE<i></i></a>
			</div>
			<div>
				<img src="/public/image/index/6.jpg" alt="">
				<div>
					<h5>基金管理</h5>
					<span class="span-inline">fund management</span>
				</div>
				<span class="span">与政府合作成立产业基金，与上市公司合作设立并购基金。凯融资本团队在产业基金的设立、项目导入、整合管理方面有丰富经验与专业知识，能够帮助合作伙伴稳健获益。业务重点是航空、教育、环保产业，优势在于项目导入和产融整合。</span>
				<a href="#" class="span-position">READ MORE<i></i></a>
			</div>
			<div>
				<img src="/public/image/index/7.jpg" alt="">
				<div>
					<h5>并购重组</h5>
					<span class="span-inline">Merger and acquisition</span>
				</div>
				<span class="span">为企业提供资产重组与兼并收购专业服务，包括但不限于并购方案设计、并购标的选择、并购实施协助、并购后的整合管理。</span>
				<a href="#" class="span-position">READ MORE<i></i></a>
			</div>
		</div>
	</div>
</section>
<!--业务模式 end-->
<!--新闻报道 start-->
<div class="module4 min-width">
	<div class="module4-1">
		<h4 class="h4">新闻报道</h4>
		<span>News report</span>
	</div>
</div>
<div class="module5 min-width">
	<div class="border"></div>
	<div class="tree tree-style">
		<div class="tree1">
			<span class="tree-span">2017-08-04</span>
			<span>多地加速设立国资投资运营平台 由管资产转向管资本</span>
		</div>
		<div class="tree2">
			<span class="tree-span">2017-07-28</span>
			<span>私募基金13年发展大事记</span>
		</div>
		<div class="tree3">
			<span class="tree-span">2017-07-28</span>
			<span>全国主要基金小镇私募落地优惠政策一览</span>
		</div>
		<div class="tree4">
			<span class="tree-span">2017-07-21</span>
			<span>【重磅】2017年上半年教育行业投融资分析&nbsp;&nbsp;一级市场</span>
		</div>
	</div>
</div>
<!--新闻报道 end-->
<!--横线 start-->
<div class="line">
	<div></div>
</div>
<!--横线 end-->
{% endblock %}

{% block js %}
{% endblock %}
