{% extends "public.html" %}
{% block meta %}
<meta name="keywords" content="{{ keywords }}">
<meta name="description" content="{{ description }}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block link %}
<link rel="stylesheet" href="/public/css/index.css">
{% endblock %}

{% block content %}
<!--banner-->
<section>
	<div class="min-width banner"></div>
</section>
<!--banner结束-->
<!--主体部分-->
<section>
	<div class="KAIRONG">
		<div class="thumbnail">
			<div class="caption">
				<h3>凯容简介</h3>
				<h4>KAIRONG INTRODUCTION</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳前海凯融资本管理有限公司（简称凯融资本）是行业内领先的知名企业。公司成立于2016年，是一家在深圳注册，在北京设有行业研究</p>
			</div>
			<img src="/public/image/index/3.jpg" alt="...">
		</div>
		<div class="thumbnail">
			<img src="/public/image/index/2.jpg" alt="...">
			<div class="caption">
				<h3>凯容团队</h3>
				<h4>KAIRONG TEAM</h4>
				<b>以专业的人才， 在专注的领域，做专业的服务 </b>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;凯融资本团队在金融、模式、运营方面的专业化经验和职业操守确保凯融资本成为资本、运营</p>
			</div>
		</div>
		<div class="thumbnail">
			<div class="caption">
				<h3>投资理念</h3>
				<h4>INVESTMENT IDEA</h4>
				<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;谋定，以稳健前行；后动，以创新开拓；整合资源，以常获丰足。</b>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;凯融人本着稳健+创新的投资理念，高效整合资源，为投资人创造风险可控</p>
			</div>
			<img src="/public/image/index/1.jpg" alt="...">
		</div>
		<div class="thumbnail">
			<img src="/public/image/index/4.jpg" alt="...">
			<div class="caption">
				<h3>融资文化</h3>
				<h4>KAIRONG CULTURE</h4>
				<b>凯融资本企业文化的核心是尊重与坚毅。以尊重为表达方式，以坚毅为行为准则，是凯融人一直秉承的行事标准。 </b>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大爱无声，大德无形。尊重</p>
			</div>
		</div>
	</div>
	<!--聚焦行业-->
	<div class="focus">
		<div class="focus-first-child">
			<h3>聚焦行业</h3>
			<p>凯融资本的主要业务是私募股权投资，重点布局航空、教育、消费升级领域</p>
			<p>The main business of Kai Rong capital is private equity investment, focusing on the field of aviation, education and consumption </p>
			<button>了解更多</button>
		</div>
		<div class="focus-last-child">
			<div>
				<h4>航空: 深耕”航空经济”打造航空+模式</h4>
				<span>凯融资本作为专业的基金管理团队，在航空领域与各级政府投资平台建立了良好的合作关系，以产业基金、政府引导基金托管、专项基金等多种模式共同推进地方航空产业的产业结构搭建和实体运营，打造新型航空经济平台。
				</span>
			</div>
			<div>
				教育:长期关注中国境内职业教育和专业培训、国际K12教育、国际职业培训领域
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block js %}
{% endblock %}
