{% extends "public.html" %}
{% block meta %}
<meta name="keywords" content="{{ keywords }}">
<meta name="description" content="{{ description }}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block link %}
<link rel="stylesheet" href="/public/css/news.min.css">
{% endblock %}

{% block content %}
<section class="min-width banner">
	<div class="container pic">
		<div class="clear">
			<div>
				<a href="">案例分析</a>
			</div>
			<div>
				<a href="">凯融视角</a>
			</div>
			<div>
				<a href="">凯融活动</a>
			</div>
		</div>
	</div>
	<div class="min-width news">
		<div class="container clear">
			<a href="">
				<h4>发改委赴重庆开展调研,中国首个通用航空示范省引期待</h4>
				<p>刚刚，国家发改委官网发布新闻“基础产业司赴重庆市开展通用航空业发展示范省建设专题调研”。在调研中，基础司任虹副司长任虹同志重点指出........</p>
			</a>
			<a href="">
				<h4>多地加速设立国资投资运营平台由管资产转向管资本</h4>
				<p>经济参考报》记者了解到，地方国资国企正在加速布局国有资本投资运营平台下半年，国有资本投资、运营公司试点有望在一系列政策的助推下继续扩围.......</p>
			</a>
			<a href="">
				<h4>《民办教育促进法》能否解除培训机构的内忧外患？</h4>
				<p>实行分类管理，一定程度解决了民办教育的“外患”，即身份不明、定位不清、地位得不到保障，但更关键的是民办学校的“内忧”，“内忧”即民办学校的内部治理，规范办......</p>
			</a>
			<a href="">
				<h4>私募基金13年发展大事记</h4>
				<p>2004政策法规    2004年6月1日，《中华人民共和国证券投资基金法》正式施行。此法为2003年发布，后2015年4月24日进行修......</p>
			</a>
		</div>
	</div>
</section>
{% endblock %}

{% block js %}
{% endblock %}
