{% extends "public.html" %}
{% block meta %}
<meta name="keywords" content="{{ keywords }}">
<meta name="description" content="{{ description }}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block link %}
<link rel="stylesheet" href="/public/css/news_list.min.css">
{% endblock %}

{% block content %}
<!-- banner-part start -->
<section class="min-width banner"></section>
<!-- banner-part end -->
<!-- list-part start -->
<section class="list">
	<div class="container clear">
		<div class="float-left">
			<a href="/news/views"{% if type == 'views' %}class="active"{% endif %}>凯融视角</a>
			<a href="/news/cases"{% if type == 'cases' %}class="active"{% endif %}>案例分析</a>
			<a href="/news/events"{% if type == 'events' %}class="active"{% endif %}>凯融活动</a>
		</div>
		<div class="float-right">
			{% for new in news %}
				<div class="box">
					<a href="/news/show/id/{{ new.id }}.html" class="float-right">
						<h4>{{ new.title }}</h4>
						<img src="{{ new.pic }}" alt="{{ news.title }}">
					</a>
					<p>{{ new.summary }}</p>
					<span>{{ new.time }} 转自{{ new.tips }} 凯融资本</span>
				</div>
			{% endfor %}
			{% if D_page != 0 %}
			<div class="pagination">
	            {% if page == 1 %}
	            	<a href="javascript:void(0);" class="display"><</a>
	            {% else %}
	            	<a href="/news/{{ type }}/page/{{ page - 1 }}"><</a>
	            {% endif %}

	            {% if D_page < 6 %}
	            	{% for i in 1..D_page %}
	           			{% if i == page %}
	            			<a href="javascript:void(0);" class="active">{{ i }}</a>
	            		{% else %}
	            			<a href="/news/{{ type }}/page/{{ i }}">{{ i }}</a>
	            		{% endif %}
	            	{% endfor %}
            	{% else %}
            		{% if page - 3 <= 0 and page + 2 < D_page %}
            			{% for i in 1 .. 4 %}
            				{% if page == i %}
            					<a href="javascript:void(0);" class="active">{{ page }}</a>
            				{% else %}
            					{% if page == 1 %}
            						<a href="/news/{{ type }}/page/{{ page + i - 1 }}">{{ page + i - 1 }}</a>
            					{% elseif page == 2 %}
            						<a href="/news/{{ type }}/page/{{ page + i - 2 }}">{{ page + i - 2 }}</a>
            					{% elseif page == 3 %}
            						<a href="/news/{{ type }}/page/{{ page + i - 3 }}">{{ page + i - 3 }}</a>
        						{% endif %}
            				{% endif %}
        				{% endfor %}
						<a href="javascript:void(0);" class="display">…</a>
	            		<a href="/news/{{ type }}/page/{{ D_page }}">{{ D_page }}</a>
	            	{% elseif page - 3 > 0 and page + 2 < D_page %}
			            <a href="/news/{{ type }}/page/1">1</a>
			            <a href="javascript:void(0);" class="display">…</a>
			            <a href="/news/{{ type }}/page/{{ page - 1 }}">{{ page - 1 }}</a>
			            <a href="javascript:void(0);" class="active">{{ page }}</a>
			            <a href="/news/{{ type }}/page/{{ page + 1 }}">{{ page + 1 }}</a>
			            <a href="javascript:void(0);" class="display">…</a>
			            <a href="/news/{{ type }}/page/{{ D_page }}">{{ D_page }}</a>
	            	{% elseif page - 3 > 0 and page + 2 >= D_page %}
			            <a href="/news/{{ type }}/page/1">1</a>
			            <a href="javascript:void(0);" class="display">…</a>
	            		{% for i in D_page - 3 .. D_page %}
				            {% if page == i %}
				            	<a href="javascript:void(0);" class="active">{{ page }}</a>
				            {% else %}
	            				<a href="/news/{{ type }}/page/{{ i }}">{{ i }}</a>
	            			{% endif %}
	            		{% endfor %}
	            	{% endif %}
	            {% endif %}

	            {% if page == D_page %}
	            	<a href="javascript:void(0);" class="display">></a>
	            {% else %}
	            	<a href="/news/{{ type }}/page/{{ page + 1 }}">></a>
	            {% endif %}
        	</div>
			{% else %}
			<a href="/editor/list" style="display: block;width: 850px; text-align:center;margin-top: 100px;color: #000;text-decoration:underline;">还没有新闻，快去添加一些吧</a>
			{% endif %}
		</div>
	</div>
</section>
<!-- list-part end -->
{% endblock %}

{% block js %}
{% endblock %}
