{% extends "public.html" %}
{% block meta %}
<meta name="keywords" content="{{ keywords }}">
<meta name="description" content="{{ description }}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block link %}
<link rel="stylesheet" href="/public/css/news.min.css">
{% endblock %}

{% block content %}
<section class="min-width banner">
	<div class="container pic">
		<div class="clear">
			<div>
				<a href="/news/cases">案例分析</a>
			</div>
			<div>
				<a href="/news/views">凯融视角</a>
			</div>
			<div>
				<a href="/news/events">凯融活动</a>
			</div>
		</div>
	</div>
	<div class="min-width news">
		<div class="container clear">
			{% for new in news %}
				<a href="/news/show/id/{{ new.id }}.html">
					<h4>{{ new.title }}</h4>
					<p>{{ new.summary }}</p>
				</a>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}

{% block js %}
{% endblock %}
