<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% block meta %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/resource/css/normalize.min.css">
	<link rel="stylesheet" href="/public/css/public.min.css">
	{% block link %}{% endblock %}
</head>

<body>
	<!-- nav-part start -->
	<nav class="navbar min-width">
		<div class="container clear">
			<div class="float-left">
				<a href="/index">
					<img class="logo-light" alt="Brand" src="/public/image/logo-light.png">
		            <img class="logo-dark" alt="Brand" src="/public/image/logo-dark.png">
	            </a>
			</div>
			<div class="float-right">
				<ul class="clear">
					<li><a href="/about">关于我们</a></li>
					<li><a href="/focus">聚焦行业</a></li>
					<li><a href="/model">业务模式</a></li>
					<li><a href="#">新闻资讯</a></li>
					<li><a href="/connect">联系我们</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- nav-part end -->
	{% block content %}{% endblock %}
	<!-- footer-part start -->
	<footer class="min-width">
		<div class="container">
			<div class="footer-link">
				<a href="/about">关于我们</a>
				<a href="/focus">聚焦行业</a>
				<a href="/model">业务模式</a>
				<a href="#">新闻资讯</a>
				<a href="/connect">联系我们</a>
			</div>
			<div class="footer-content">
				<img src="/public/image/logo-origin.png" alt="Logo">
				<p>深圳前海凯融资本管理有限公司（凯融资本）</p>
				<p>合作邮箱：amyhong@sinokrcapital.com</p>
				<p>应聘邮箱： wangyanan@sinokrcapital.com</p>
				<p>电话：0086 10 57265988 / 56289199</p>
				<p>地址：北京市朝阳区建国路89号华贸中心4号商务楼2303</p>
				<span>版权所有：深圳前海凯融资本管理有限公司（凯融资本）  粤ICP备17001351号   技术支持：承点科技</span>
			</div>
		</div>
	</footer>
	<!-- footer-part end -->
	<!-- js-part start -->
	<script src="/resource/js/jquery.min.js"></script>
	<script>
		$(window).scroll(function() {
			if ($(".navbar").offset().top > 50) {
				$(".navbar").addClass("nav-collapse");
			} else {
				$(".navbar").removeClass("nav-collapse");
			}
		});
	</script>
	{% block js %}{% endblock %}
	<!-- js-part end -->
</body>

</html>
