.container
	.clear
		padding 0 70px
// banner-part start
.banner
	height 900px
	background url('/public/image/connect/banner.jpg') center center no-repeat
	.container
		padding-top 276px
		color #fff
		h4, h5, h6, p
			margin 0
		h4, h5, h6
			text-align right
		h4
			font-size 60px
		h5
			font-size 14px
			line-height 30px
			position relative
			z-index 10
			margin-right 4px
		h6
			font-size 82px
			color #b72229
			margin-top -25px
		p
			float left
			font-size 16px
	.address
		padding 275px 70px 0
		a
			width 207px
			height 60px
			display block
			float right
			text-align center
			font-size 20px
			font-weight bold
			line-height 60px
			background-color #b72229
			color #fff
			margin-top -25px
// banner-part end
// part-2 start
.part-2
	height 300px
	padding 95px 0
	.clear
		div
			height 300px
			width 300px
			background-color #b72229
			color #fff
			text-align center
			box-shadow 0 2px 0 rgba(#515769, 0.25)
			float left
			&:not(:last-child)
				margin-right 80px
			h4, p
				margin 0
			h4
				font-size 30px
				padding 85px 0 22px
			p
				font-size 14px
				padding-bottom 50px
			button
				width 100px
				height 40px
				border-radius 7px
				border none
				color #b72229
				background-color #fff
				font-size 16px
				font-weight bold
				cursor pointer
// part-2 end
// part-3 start
.part-3
	.min-width
		text-align center
		height 130px
		color #fff
		background url('/public/image/connect/background.jpg') center center no-repeat
		h4, h5
			margin 0
		h4
			padding 30px 0 15px
			font-size 36px
		h5
			font-size 20px
	>.container
		padding 65px 0 100px
		.clear
			>div
				width 520px
				height 660px
				background-color #b72229
				color #fff
				float left
				position relative
				box-shadow 0 2px 0 rgba(#515769, 0.25)
				&:not(:last-child)
					margin-right 20px
				h4, h5, p
					margin 0
				h4
					padding 57px 0 0 30px
					font-size 22px
				div
					padding 38px 50px 0
					h5
						font-size 18px
						padding-bottom 15px
					p
						font-size 14px
						line-height 30px
						padding-left 18px
						text-align justify
						position relative
						&:before
							content ''
							position absolute
							width 8px
							border-bottom 2px solid #fff
							left 6px
							top 14px
				span
					position absolute
					text-align center
					width 100%
					left 0
					bottom 50px
					font-size 14px
// part-3 end
