.editor_form
	>div, label
		>span
			display inline-block
			text-align right
			width 80px
			padding-right 20px
input[type = 'text'], input[type = 'password']
	border none
	border-bottom 1px solid #71cff3
	width 200px
	height 24px
	line-height 24px
	font-size 16px
	padding 0 5px
	margin 10px 0
input[type = 'text']:focus, input[type = 'password']:focus
	border-bottom 1px solid #4239fb
input[type = 'file']
	border none
input:focus
	outline none
//login start
.editor_login
	width 600px
	margin 0 auto
	margin-top 300px
	padding 50px 0
	color #fff
	text-align center
	background-color #006ba3
	input[type = 'button']
		border none
		width 110px
		height 28px
		line-height 28px
		background #fff
		margin-top 20px
		cursor pointer
//login end
//insert start
.editor_insert
	background #fff
	width 1200px
	margin 0 auto
	label
		margin 10px 0
		display inline-block
	input[type = 'button']
		margin-bottom 100px
		cursor pointer
#editor
	margin 20px 0
	.w-e-text-container
		min-height: 500px!important
//insert end
//list start
.editor_list
	width 1200px
	margin 0 auto
	padding-top 50px
	.show
		margin 10px 0
		a
			display inline-block
			width 700px
		span
			cursor pointer
			border 1px solid #006ba3
			background-color #006ba3
			color #fff
	//list end
