// 通用样式 start
h4,h5,h6,ul,li,p
	margin 0
	padding 0

.margin-top{
  margin-top 105px
}
.margin-top-1{
  margin-top 60px
}
// 通用样式 end
// 模块1，介绍部分 start
.banner
	background url("/public/image/index/banner.jpg") no-repeat center center
	height 920px
.thumbnail
	width 260px
	padding 119px 40px 104px 0

//.margin-top-1{margin-top:60px}
.caption
	h4
		margin 40px 0 0 0
		font-size 24px
		color #515769
	h5
		margin 7px 0 29px 0
		font-size 20px
		color #515769
  p{
    margin 0
    color #b5b5b7
    font-size 12px
    line-height 20px
    width 260px
    max-height 200px
    overflow hidden}
.p_color
	font-weight bolder
// 模块1，介绍部分 end
// 模块2，聚焦行业 start
.focus
	height 600px
	background-color #232323
	color #fff
	display flex
	justify-content center
	div.focus-first-child
		height 230px
		width 500px
		margin-top 140px
		h4
			font-size 36px
			margin 0 0 27px 0
		a
			color #fff
			display inline-block
			text-align center
			width 140px
			height 50px
			line-height 50px
			margin-top 60px
			background-color #515769
			border none
			font-size 14px
			font-weight bolder
	div.focus-last-child
		margin 95px 0 0 200px
		width 460px
.focus-last-child-1
	height 188px
	background-color #35383f
	padding 34px
	margin-bottom 10px
	h4
		font-size 16px
		margin-bottom 30px
	span
		font-size 12px
	p
		margin 0
		font-size 14px
.p-bottom
	margin-bottom 40px!important
.focus-last-child-2
	background-color #737373
	margin 0 0 5px 0
	padding 20px 30px
	span
		font-size 14px
		line-height 20px
// 模块2，聚焦行业 end
// 模块3，业务模式 start
.module3
	width 64%
	margin 0 auto
	height 635px
	padding-top 96px
	span
		color #a6a7aa
.module3-1
	margin-bottom 60px
	padding 0 30px
.module3-2
	display flex
	justify-content flex-start
	padding 0 30px
	div
		width 350px
		margin-right 42px
		position relative
		a
			color: #a6a7aa
		div
			h5
				font-size 16px
				font-weight bolder
				color #515769
				display inline-block
				margin 26px 8px 30px 0
.span-inline
	display inline-block
	font-size 10px
.span
	width 350px
	margin-bottom 24px
	font-size 14px
	line-height 20px
.span-block
	display block
.span-position
	position absolute
	top 100%
	left 0
	font-size 12px
	font-weight bolder
	margin-top 24px
	i
		display inline-block
		width 8px
		height 2px
		background-color #901d22
		margin 0 0 4px 5px
.h4
	color #515769
	font-size 36px
	margin-bottom  25px
// 模块3，业务模式 end
// 模块4，新闻报道 start
.module4
	width 63%
	margin 0 auto
	padding 140px 0 0 40px
	color #a6a7aa
	.module4-1
		padding-bottom 50px
.module5
	margin 0 auto
	height 370px
	padding-top 50px
	background-color #232323
	position relative
.border
	border-left 1px solid #fff
	height 320px
	width 0
	margin 0 auto
.tree-style
	color #fff
	font-size 12px
.tree1
	position absolute
	top 10%
	left 51%
	&:after
		content ""
		width 1px
		height 1px
		background-color #fff
		border 10px solid #fff
		border-radius 50%
		position absolute
		top 0
		left -9.7%
.tree2
	text-align right
	position absolute
	top 25%
	left 33%
	&:after
		content ""
		width 1px
		height 1px
		background-color #fff
		border 10px solid #fff
		border-radius 50%
		position absolute
		top 0
		left 104.5%
.tree3
	position absolute
	top 40%
	left 51%
	&:after
		content ""
		width 1px
		height 1px
		background-color #fff
		border 10px solid #fff
		border-radius 50%
		position absolute
		top 0
		left -9.8%
.tree4
	text-align right
	position absolute
	top 55%
	left 33%
	&:after
		content ""
		width 1px
		height 1px
		background-color #fff
		border 10px solid #fff
		border-radius 50%
		position absolute
		top 0
		left 104.5%
.tree-span
	display block
	width 300px
	font-size 12px
	color #fff
	margin-bottom 7px
// 模块4，新闻报道 end
// 横线 start
.line
	width 63%
	height 129px
	margin 0 auto
	div
		margin-top 123px
		height 6px
		background-color #e6e6e6
// 横线 end
// 模块6，联系我们 start
.module6
	width 100%
	height 460px
	background-color #fafafa
	display flex
	justify-content center
	padding-top 40px
.module6-1,.module6-2,.module6-3
	width 370px
	background-color #fff
	margin-right 12px
	box-shadow 3px 3px 3px #e1e1e1
	text-align center
	color #515769
	button
		display block
		background-color #515769
		border none
		width 120px
		height 40px
		border-radius 3px
		color #fff
		margin 0 auto
	img
		display block
		margin 0 auto
.module6-1,.module6-3
	height 300px
	margin-top 60px
	img
		padding 50px 0 45px 0
.module6-2
	height 380px
	h4
		font-size 24px
		margin-top 35px
	img
		padding 45px 0 25px 0
.span-bottom
	display block
	margin-bottom 55px
// 模块6，联系我们 end
//模块7，加入我们 start
.module7
	height 868px
	padding-top 50px
	color #515769
	.module7-1
		width 60%
		margin 0 auto
		span
			color #a6a7aa
.module7-2
	display flex
	justify-content center
.module7-2-1
	width 550px
	height 600px
	margin 65px 40px 0 40px
	background-color #fafafa
	position relative
	i
		display inline-block
		width 8px
		height 2px
		background-color #901d22
		position absolute
		top 44%
		left -1%
	h4
		margin 50px 0 39px 58px
	 	font-size 22px
	h5
		margin 0 0 15px 78px
	li
		font-size 14px
		margin 0 0 0 104px
		line-height 30px
		position relative
	div
		position absolute
		left 25%
		text-align center
		bottom 0
		span
			display block
			font-size 14px
			margin-bottom 20px
.module7-2-2
	margin-left 80px
//模块7，加入我们 end


