// 通用样式 start
a
  color #fff
h4,h5,h6,ul,li
	margin 0
	padding 0
.module7 ul li
	padding-right 30px
	padding-left 18px
	position relative
	&:after
		content ""
		width 8px
		border 1px solid #901d22
		position absolute
		left 0
		top 12px
.text-indent
	text-indent 24px
// 通用样式 end
// 模块1，介绍部分 start
.banner
	background url("/public/image/index/banner.jpg") no-repeat center center
	height 636px
.module1
	height 760px
	position relative
.module1
	>	h4
		font-size 18px
		font-weight inherit
		color #fff
		height 75px
		background-color #901d22
		text-align center
		line-height 75px
		position absolute
		top -37px
.module1-1
	height 580px
	display flex
	justify-content center
.module1-top
	margin-top 70px
.module1-right
	margin-right 80px!important
.module1-1-1,.module1-1-2,.module1-1-3,.module1-1-4
	background-color #fff
	margin 50px 0
	width 558px
	height 265px
	border 1px solid #dbdbdb
	overflow hidden
	position relative
	h4
		margin-top 90px
		margin-bottom 30px
		&:after
			content ""
			width 75px
			border 2px solid #901d22
			position absolute
			top 135px
			left 240px
	h5,h4
		font-size 30px
		text-align center
		font-weight inherit
	div
		color #9b9b9b
		font-size 14px
		margin 0 50px
		line-height 20px
		position absolute
		top 585px
.module1-1-1,.module1-1-3
	&:hover
		height 580px
		border 2px solid #901d22
		div
			position absolute
			top 270px
			transition all .8s
.module1-1-1
	&:hover
		+ .module1-1-2
			display none
.module1-1-3
	&:hover
		+ .module1-1-4
			display none
.module1-1-2,.module1-1-4
	&:hover
		height 580px
		border 2px solid #901d22
		position absolute
		top 70px
		left 0
		div
			position absolute
			top 270px
			transition all .8s
.module1-1-4
	&:hover
		left 640px
// 模块1，介绍部分 end
// 模块2，聚焦行业 start
.focus
	height 700px
	width 100%
	background-color #232323
	color #fff
	display flex
	justify-content center
	div.focus-first-child
		height 230px
		width 500px
		margin-top 140px
		margin-left 35px
		h4
			font-size 30px
			font-weight inherit
			padding-bottom 35px
			position relative
			&:after
				content ""
				width 75px
				border 2px solid #901d22
				position absolute
				top 50px
				left 0
		h5
			font-weight inherit
			font-size 24px
		p
      font-size 14px
      color #a2a2a2
	div.focus-last-child
    padding 65px 0 0 200px
    width 460px
    input[type="radio"]
      display none
#focus-input1:checked + label > #focus-last-child-1, #focus-input2:checked + label > #focus-last-child-2, #focus-input3:checked + label > #focus-last-child-3
	display block
	height 360px
	transition all .8s
	span
		display block
#focus-input1:checked + label > #focus-last-child-1 > h4, #focus-input2:checked + label > #focus-last-child-2 > h4, #focus-input3:checked + label > #focus-last-child-3 > h4
	text-align left
#focus-input1:checked + label > #focus-last-child-1 > p, #focus-input2:checked + label > #focus-last-child-2 > p, #focus-input3:checked + label > #focus-last-child-3 > p
	display block
.focus-last-child-1
  padding 0 30px
  margin-bottom 10px
  height 95px
  overflow hidden
  cursor pointer
  background-color #fff
  transition all .8s
.focus-last-child-1
	position relative
	h4
		width 390px
		color #000
		text-align center
		font-size 24px
		display inline-block
		font-weight inherit
		line-height 95px
	p
		position absolute
		top 25px
		left 100px
		display none
		color #8a8a8b
		font-size 14px
		margin-left 50px
		margin-right 40px
	>span
		color #8a8a8b
		font-size 14px
		display none
		margin-right 25px
		line-height 18px
// 模块2，聚焦行业 end
// 模块3，业务模式 start
.module3
	width 64%
	margin 0 auto
	height 500px
	padding-top 76px
	span
		color #fff
.module3-1
	padding 0 30px 60px 40px
	text-align center
	span
    color #8a8a8b
    font-size 14px
	h4
		margin-bottom 35px
		position relative
		&:after
			content ""
			width 75px
			border 2px solid #901d22
			position absolute
			top 50px
			left 525px
.h4
	color #2b2529
	font-size 30px
	font-weight inherit
.module3-2
	display flex
	justify-content space-between
	div
		width 350px
		height 298px
		position relative
		overflow hidden
		text-align center
		h5
			font-weight inherit
			font-size 30px
			color #000
			display inline-block
		&:hover
			div
				transition all 1s
				top 0
		a
			color: #a6a7aa
		div
			width 350px
			height 240px
			background-color rgba(144,29,34,.9)
			position absolute
			top 240px
			left 0
			text-align center
			transition all 1s
			h5
				margin-top 10px
				font-size 30px
				color #fff
				display inline-block
.module3-2-3
	div
		padding-right 0 !important
.span-inline
  display inline-block
  font-size 10px
  text-transform uppercase
.span
	display block
	width 305px
	height 120px
	overflow hidden
	margin 28px 0 24px 15px
	font-size 14px
	line-height 20px
.span-position
	position absolute
	top 100%
	left 0
	font-size 12px
	i
		display inline-block
		width 8px
		height 2px
		background-color #901d22
		margin 0 0 4px 5px
// 模块3，业务模式 end
// 模块4，新闻报道 start
.module5
	width 100%
	padding-top 50px
	height 550px
	background-color #232323
	display flex
	justify-content center
.module5-1
	width 450px
	padding 50px 30px
	h4
		color #fff
		position relative
		margin-bottom 35px
		&:after
			content ""
			width 75px
			border 2px solid #901d22
			position absolute
			top 50px
			left 0
	span
		color #fff
		font-size 24px
	p
		color #a2a2a2
		font-size 14px
.module5-2
	width 680px
	>div
		margin-bottom 25px
		position relative
		background-color #fff
		div
      position absolute
      top 65px
      left 190px
      width 450px
      height 70px
      line-height 60px
      padding 0 20px
			span
        font-size 14px
        color #8a8a8b
        margin-right 100px
	a
    display block
		position relative
	img
		display block
		width 185px
		height 135px
		background-color #901d22
	h5
		font-size 14px
		font-weight inherit
		color #1a1617
		position absolute
		width 495px
		top 35px
		left 200px
// 模块4，新闻报道 end
// 横线 start
.line
	width 1200px
	height 129px
	margin 0 auto
	div
		margin-top 123px
		height 6px
		background-color #e6e6e6
// 横线 end
// 模块6，联系我们 start
.module6
	width 100%
	height 460px
	background-color #fafafa
	display flex
	justify-content center
	padding-top 40px
.module6-1,.module6-2,.module6-3
	width 370px
	background-color #fff
	margin-right 12px
	box-shadow 3px 3px 3px #e1e1e1
	text-align center
	color #515769
	position relative
	button
		display block
		background-color #515769
		border none
		width 120px
		height 40px
		border-radius 3px
		color #fff
		margin 0 auto
		position absolute
		left 34%
		top 68%
	img
		display block
		margin 0 auto
.module6-3
	margin-right 0
.module6-1,.module6-3
	height 300px
	margin-top 60px
	img
		padding 50px 0 45px 0
.module6-2
	height 380px
	h4
		font-size 24px
		margin-top 35px
	img
		padding 45px 0 25px 0
.span-bottom
	display block
#span-bottom
	display block
	margin-bottom 55px
// 模块6，联系我们 end
//模块7，加入我们 start
.module7
	height 960px
	color #515769
	.module7-1
		width 97%
		margin 0 auto
		padding-left 35px
		text-align center
		h4
			margin-top 100px
			margin-bottom 35px
			position relative
			&:after
				content ""
				width 75px
				border 2px solid #901d22
				position absolute
				top 50px
				left 545px
		span
			color #a6a7aa
.module7-2
	display flex
	justify-content center
.module7-h4
  margin 50px 0 39px 58px
  font-size 22px
.module7-2-1
	width 600px
	height 600px
	margin-top 90px
	background-color #fafafa
	box-shadow 1px 1px 1px #ececec
	border-radius 10px
	position relative
	h5
		margin 40px 0 15px 78px
	li
		font-size 14px
		margin 0 0 0 104px
		line-height 25px
.module7-2-2
	margin-left 80px
.module7-3
	text-align center
	color #8a8a8b
	font-size 14px
	margin-top 60px
//模块7，加入我们 end