.banner
	background url("/public/image/index/banner.jpg") no-repeat
	height 920px

.margin-top
	margin-top 105px
.row
	width 1200px
	margin 0 auto
	padding 119px 0 104px 0
	.thumbnail
		height 470px
		box-sizing border-box
		img
			width 270px
			height 270px
		.caption
			b
				font-size 12px
			h3
				font-size 24px
				margin 40px 0 0 0
			h4
				font-size 20px
				margin 7px 0 29px 0

.focus
	width 100%
	height 600px
	background-color #232323
	color #fff
	display flex
	justify-content center
	div.focus-first-child
		height 230px
		width 500px
		margin-top 140px

		h3
			font-size 36px
			margin 0 0 27px 0
		button
			width 140px
			height 34px
			margin-top 60px
			background-color #515769
			border none
	div.focus-last-child
		width 460px

	p
		margin 0
		font-size 14px
