a {
  color: #fff;
}
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}
.module7 ul li {
  padding-right: 30px;
  padding-left: 18px;
  position: relative;
}
.module7 ul li:after {
  content: "";
  width: 8px;
  border: 1px solid #901d22;
  position: absolute;
  left: 0;
  top: 12px;
}
.text-indent {
  text-indent: 24px;
}
.banner {
  background: url("/public/image/index/banner.jpg") no-repeat center center;
  height: 636px;
}
.module1 {
  height: 760px;
  position: relative;
}
.module1 > h4 {
  font-size: 18px;
  font-weight: inherit;
  color: #fff;
  height: 75px;
  background-color: #901d22;
  text-align: center;
  line-height: 75px;
  position: absolute;
  top: -37px;
}
.module1-1 {
  height: 580px;
  display: flex;
  justify-content: center;
}
.module1-top {
  margin-top: 70px;
}
.module1-right {
  margin-right: 80px !important;
}
.module1-1-1,
.module1-1-2,
.module1-1-3,
.module1-1-4 {
  background-color: #fff;
  margin: 50px 0;
  width: 558px;
  height: 265px;
  border: 1px solid #dbdbdb;
  overflow: hidden;
  position: relative;
}
.module1-1-1 h4,
.module1-1-2 h4,
.module1-1-3 h4,
.module1-1-4 h4 {
  margin-top: 90px;
  margin-bottom: 30px;
}
.module1-1-1 h4:after,
.module1-1-2 h4:after,
.module1-1-3 h4:after,
.module1-1-4 h4:after {
  content: "";
  width: 75px;
  border: 2px solid #901d22;
  position: absolute;
  top: 135px;
  left: 240px;
}
.module1-1-1 h5,
.module1-1-2 h5,
.module1-1-3 h5,
.module1-1-4 h5,
.module1-1-1 h4,
.module1-1-2 h4,
.module1-1-3 h4,
.module1-1-4 h4 {
  font-size: 30px;
  text-align: center;
  font-weight: inherit;
}
.module1-1-1 div,
.module1-1-2 div,
.module1-1-3 div,
.module1-1-4 div {
  color: #9b9b9b;
  font-size: 14px;
  margin: 0 50px;
  line-height: 20px;
  position: absolute;
  top: 585px;
}
.module1-1-1:hover,
.module1-1-3:hover {
  height: 580px;
  border: 2px solid #901d22;
}
.module1-1-1:hover div,
.module1-1-3:hover div {
  position: absolute;
  top: 270px;
  transition: all 0.8s;
}
.module1-1-1:hover + .module1-1-2 {
  display: none;
}
.module1-1-3:hover + .module1-1-4 {
  display: none;
}
.module1-1-2:hover,
.module1-1-4:hover {
  height: 580px;
  border: 2px solid #901d22;
  position: absolute;
  top: 70px;
  left: 0;
}
.module1-1-2:hover div,
.module1-1-4:hover div {
  position: absolute;
  top: 270px;
  transition: all 0.8s;
}
.module1-1-4:hover {
  left: 640px;
}
.focus {
  height: 700px;
  width: 100%;
  background-color: #232323;
  color: #fff;
  display: flex;
  justify-content: center;
}
.focus div.focus-first-child {
  height: 230px;
  width: 500px;
  margin-top: 140px;
  margin-left: 45px;
}
.focus div.focus-first-child h4 {
  font-size: 30px;
  font-weight: inherit;
  padding-bottom: 35px;
  position: relative;
}
.focus div.focus-first-child h4:after {
  content: "";
  width: 75px;
  border: 2px solid #901d22;
  position: absolute;
  top: 50px;
  left: 0;
}
.focus div.focus-first-child h5 {
  font-weight: inherit;
  font-size: 24px;
}
.focus div.focus-first-child p {
  font-size: 14px;
  color: #a2a2a2;
}
.focus div.focus-last-child {
  padding: 65px 50px 0 150px;
  width: 460px;
}
.focus div.focus-last-child input[type="radio"] {
  display: none;
}
#focus-input1:checked + label > #focus-last-child-1,
#focus-input2:checked + label > #focus-last-child-2,
#focus-input3:checked + label > #focus-last-child-3 {
  display: block;
  height: 360px;
  transition: all 0.8s;
}
#focus-input1:checked + label > #focus-last-child-1 span,
#focus-input2:checked + label > #focus-last-child-2 span,
#focus-input3:checked + label > #focus-last-child-3 span {
  display: block;
}
#focus-input1:checked + label > #focus-last-child-1 > h4,
#focus-input2:checked + label > #focus-last-child-2 > h4,
#focus-input3:checked + label > #focus-last-child-3 > h4 {
  text-align: left;
}
#focus-input1:checked + label > #focus-last-child-1 > p,
#focus-input2:checked + label > #focus-last-child-2 > p,
#focus-input3:checked + label > #focus-last-child-3 > p {
  display: block;
}
.focus-last-child-1 {
  padding: 0 30px;
  margin-bottom: 10px;
  height: 95px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.8s;
}
.focus-last-child-1 {
  position: relative;
}
.focus-last-child-1 h4 {
  width: 390px;
  color: #000;
  text-align: center;
  font-size: 24px;
  display: inline-block;
  font-weight: inherit;
  line-height: 95px;
}
.focus-last-child-1 p {
  position: absolute;
  top: 25px;
  left: 100px;
  display: none;
  color: #8a8a8b;
  font-size: 14px;
  margin-left: 50px;
  margin-right: 40px;
}
.focus-last-child-1 >span {
  color: #8a8a8b;
  font-size: 14px;
  display: none;
  margin-right: 25px;
  line-height: 18px;
}
.module3 {
  width: 64%;
  margin: 0 auto;
  height: 500px;
  padding-top: 76px;
}
.module3 span {
  color: #fff;
}
.module3-1 {
  padding: 0 30px 60px 40px;
  text-align: center;
}
.module3-1 span {
  color: #8a8a8b;
  font-size: 14px;
}
.module3-1 h4 {
  margin-bottom: 35px;
  position: relative;
}
.module3-1 h4:after {
  content: "";
  width: 75px;
  border: 2px solid #901d22;
  position: absolute;
  top: 50px;
  left: 525px;
}
.h4 {
  color: #2b2529;
  font-size: 30px;
  font-weight: inherit;
}
.module3-2 {
  display: flex;
  justify-content: space-between;
}
.module3-2 div {
  width: 350px;
  height: 298px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.module3-2 div h5 {
  font-weight: inherit;
  font-size: 30px;
  color: #000;
  display: inline-block;
}
.module3-2 div:hover div {
  transition: all 1s;
  top: 0;
}
.module3-2 div a {
  color: #a6a7aa;
}
.module3-2 div div {
  width: 350px;
  height: 240px;
  background-color: rgba(144,29,34,0.9);
  position: absolute;
  top: 240px;
  left: 0;
  text-align: center;
  transition: all 1s;
}
.module3-2 div div h5 {
  margin-top: 10px;
  font-size: 30px;
  color: #fff;
  display: inline-block;
}
.module3-2-3 div {
  padding-right: 0 !important;
}
.span-inline {
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
}
.span {
  display: block;
  width: 305px;
  height: 120px;
  overflow: hidden;
  margin: 28px 0 24px 15px;
  font-size: 14px;
  line-height: 20px;
}
.span-position {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 12px;
}
.span-position i {
  display: inline-block;
  width: 8px;
  height: 2px;
  background-color: #901d22;
  margin: 0 0 4px 5px;
}
.module5 {
  width: 100%;
  padding-top: 50px;
  height: 550px;
  background-color: #232323;
}
.module5-1 {
  width: 515px;
  padding: 0 0 50px 45px;
}
.module5-1 h4 {
  color: #fff;
  position: relative;
  margin-bottom: 35px;
}
.module5-1 h4:after {
  content: "";
  width: 75px;
  border: 2px solid #901d22;
  position: absolute;
  top: 50px;
  left: 0;
}
.module5-1 span {
  color: #fff;
  font-size: 24px;
}
.module5-1 p {
  color: #a2a2a2;
  font-size: 14px;
}
.module5-2 {
  width: 630px;
}
.module5-2 >div {
  height: 135px;
  position: relative;
  margin-bottom: 25px;
  background-color: #fff;
}
.module5-2 p {
  width: 400px;
  position: relative;
  margin: 0;
  top: 75px;
  left: 210px;
  color: #8a8a8b;
  font-size: 14px;
}
.module5-2 p span {
  display: inline-block;
  width: 200px;
  height: 24px;
  line-height: 36px;
  font-size: 14px;
  overflow: hidden;
}
.module5-2 a {
  display: block;
}
.module5-2 img {
  width: 185px;
  display: block;
  height: 135px;
  background-color: #901d22;
  position: absolute;
  top: 0;
  left: 0;
}
.module5-2 h5 {
  font-size: 14px;
  width: 400px;
  height: 40px;
  line-height: 40px;
  font-weight: inherit;
  color: #1a1617;
  position: absolute;
  overflow: hidden;
  left: 210px;
  top: 10px;
}
.line {
  width: 1200px;
  height: 129px;
  margin: 0 auto;
}
.line div {
  margin-top: 123px;
  height: 6px;
  background-color: #e6e6e6;
}
.module6 {
  width: 100%;
  height: 460px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.module6-1,
.module6-2,
.module6-3 {
  width: 370px;
  background-color: #fff;
  margin-right: 12px;
  box-shadow: 3px 3px 3px #e1e1e1;
  text-align: center;
  color: #515769;
  position: relative;
}
.module6-1 button,
.module6-2 button,
.module6-3 button {
  display: block;
  background-color: #515769;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  margin: 0 auto;
  position: absolute;
  left: 34%;
  top: 68%;
}
.module6-1 img,
.module6-2 img,
.module6-3 img {
  display: block;
  margin: 0 auto;
}
.module6-3 {
  margin-right: 0;
}
.module6-1,
.module6-3 {
  height: 300px;
  margin-top: 60px;
}
.module6-1 img,
.module6-3 img {
  padding: 50px 0 45px 0;
}
.module6-2 {
  height: 380px;
}
.module6-2 h4 {
  font-size: 24px;
  margin-top: 35px;
}
.module6-2 img {
  padding: 45px 0 25px 0;
}
.span-bottom {
  display: block;
}
#span-bottom {
  display: block;
  margin-bottom: 55px;
}
.module7 {
  height: 960px;
  color: #515769;
}
.module7 .module7-1 {
  width: 97%;
  margin: 0 auto;
  padding-left: 35px;
  text-align: center;
}
.module7 .module7-1 h4 {
  margin-top: 100px;
  margin-bottom: 35px;
  position: relative;
}
.module7 .module7-1 h4:after {
  content: "";
  width: 75px;
  border: 2px solid #901d22;
  position: absolute;
  top: 50px;
  left: 545px;
}
.module7 .module7-1 span {
  color: #a6a7aa;
}
.module7-2 {
  display: flex;
  justify-content: center;
}
.module7-h4 {
  margin: 50px 0 39px 58px;
  font-size: 22px;
}
.module7-2-1 {
  width: 600px;
  height: 600px;
  margin-top: 90px;
  background-color: #fafafa;
  box-shadow: 1px 1px 1px #ececec;
  border-radius: 10px;
  position: relative;
}
.module7-2-1 h5 {
  margin: 40px 0 15px 78px;
}
.module7-2-1 li {
  font-size: 14px;
  margin: 0 0 0 104px;
  line-height: 25px;
}
.module7-2-2 {
  margin-left: 80px;
}
.module7-3 {
  text-align: center;
  color: #8a8a8b;
  font-size: 14px;
  margin-top: 60px;
}
