a {
  color: #fff;
}
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}
.module7 ul li {
  padding-right: 30px;
  padding-left: 18px;
  background: url("/public/image/index/fang.jpg") no-repeat 0 12px;
}
.banner {
  background: url("/public/image/index/banner.jpg") no-repeat center center;
  height: 920px;
}
.module1 {
  height: 685px;
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
.text-indent {
  text-indent: 24px;
}
.img1 {
  background: url("/public/image/index/3.jpg") no-repeat center bottom;
}
.img3 {
  background: url("/public/image/index/1.jpg") no-repeat center bottom;
}
.img2 {
  background: url("/public/image/index/2.jpg") no-repeat center top;
}
.img4 {
  background: url("/public/image/index/4.jpg") no-repeat center top;
}
.img4,
.img2,
.img1,
.img3 {
  height: 580px;
  width: 270px;
  color: #515769;
  margin-left: 40px;
}
.img4 h4,
.img2 h4,
.img1 h4,
.img3 h4 {
  font-size: 24px;
}
.img4 h5,
.img2 h5,
.img1 h5,
.img3 h5 {
  font-size: 20px;
}
.img4 p,
.img2 p,
.img1 p,
.img3 p {
  font-size: 12px;
  line-height: 20px;
}
.img4 div,
.img2 div,
.img1 div,
.img3 div {
  width: 270px;
  height: 108px;
  overflow: hidden;
  background-color: #fff;
}
.img4,
.img2 {
  transition: all 0.8s;
  padding-top: 310px;
}
.img4 h4,
.img2 h4 {
  background-color: #fff;
}
.img4 h5,
.img2 h5 {
  background-color: #fff;
}
.img4 .img2-hover,
.img2 .img2-hover {
  transition: all 0.8s;
}
.img4:hover,
.img2:hover {
  padding-top: 0;
  transition: all 0.8s;
}
.img4:hover .img2-hover,
.img2:hover .img2-hover {
  height: 530px;
}
.img1 .img1-hover,
.img3 .img1-hover {
  transition: all 0.8s;
}
.img1 h4,
.img3 h4 {
  transition: all 0.8s;
  margin-top: 108px;
}
.img1 {
  margin-left: 0;
}
.img1:hover .img1-hover,
.img3:hover .img1-hover {
  transition: all 0.8s;
  height: 530px;
}
.img1:hover h4,
.img3:hover h4 {
  margin-top: 0;
  transition: all 0.8s;
}
.font-weight {
  font-weight: bolder;
}
.focus {
  height: 700px;
  width: 100%;
  background-color: #232323;
  color: #fff;
  display: flex;
  justify-content: center;
}
div.focus-first-child {
  height: 230px;
  width: 500px;
  margin-top: 140px;
}
div.focus-first-child h4 {
  font-size: 36px;
  padding-bottom: 27px;
}
div.focus-first-child a {
  display: inline-block;
  text-align: center;
  width: 140px;
  height: 50px;
  line-height: 50px;
  margin-top: 60px;
  background-color: #515769;
  border: none;
  font-size: 14px;
}
div.focus-last-child {
  padding: 95px 0 0 200px;
  width: 460px;
}
div.focus-last-child input[type="radio"] {
  display: none;
}
#focus-input1:checked + label > #focus-last-child-1,
#focus-input2:checked + label > #focus-last-child-2,
#focus-input3:checked + label > #focus-last-child-3 {
  display: block;
  height: 320px;
  background-color: #35383f;
  transition: all 0.8s;
}
#focus-input1:checked + label > #focus-last-child-1 span,
#focus-input2:checked + label > #focus-last-child-2 span,
#focus-input3:checked + label > #focus-last-child-3 span {
  display: block;
}
#focus-input3:checked + label > #focus-last-child-3 {
  height: 200px;
}
.focus-last-child-1 {
  padding: 20px 30px;
  margin-bottom: 10px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
  background-color: #737373;
  transition: all 0.8s;
}
.focus-last-child-1 h4 {
  font-size: 16px;
}
.focus-last-child-1 span {
  font-size: 14px;
  display: none;
  margin: 20px 30px 0 0;
  line-height: 20px;
}
.module3 {
  width: 64%;
  margin: 0 auto;
  height: 635px;
  padding-top: 96px;
}
.module3 span {
  color: #a6a7aa;
}
.module3-1 {
  padding: 0 30px 60px 30px;
}
.module3-2 {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}
.module3-2 div {
  width: 350px;
  padding-right: 42px;
  position: relative;
}
.module3-2 div a {
  color: #a6a7aa;
}
.module3-2 div div h5 {
  font-size: 16px;
  color: #515769;
  display: inline-block;
  margin: 26px 8px 30px 0;
}
.span-inline {
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
}
.span {
  display: block;
  width: 350px;
  height: 120px;
  overflow: hidden;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 20px;
}
.span-block {
  display: block;
}
.span-position {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 12px;
}
.span-position i {
  display: inline-block;
  width: 8px;
  height: 2px;
  background-color: #901d22;
  margin: 0 0 4px 5px;
}
.h4 {
  color: #515769;
  font-size: 36px;
  margin-bottom: 25px;
}
.module4 {
  width: 63%;
  margin: 0 auto;
  color: #a6a7aa;
}
.module4 .module4-1 {
  padding: 140px 0 50px 20px;
}
.module5 {
  padding-top: 50px;
  height: 370px;
  background-color: #232323;
}
.tree-style {
  height: 350px;
  color: #fff;
  position: relative;
}
.tree-style:before {
  content: "";
  width: 1px;
  height: 320px;
  background-color: #fff;
  position: absolute;
  left: 600px;
}
.tree-style a {
  font-size: 12px;
}
.tree-parent1,
.tree-parent2 {
  width: 590px;
  height: 300px;
}
.tree-parent1 .tree3:after,
.tree-parent2 .tree3:after {
  top: 150px;
  left: 596px;
}
.tree1,
.tree3,
.tree2,
.tree4 {
  margin-bottom: 120px;
}
.tree1:after,
.tree3:after,
.tree2:after,
.tree4:after {
  content: "";
  border: 5px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 596px;
}
.tree-parent2 {
  text-align: right;
  margin-top: 75px;
}
.tree-parent2 .tree2 {
  margin-bottom: 118px;
}
.tree-parent2 .tree2:after {
  top: 75px;
  left: 596px;
}
.tree-parent2 .tree4:after {
  top: 225px;
  left: 596px;
}
.tree-span {
  display: block;
  color: #fff;
}
.line {
  width: 62%;
  height: 129px;
  margin: 0 auto;
}
.line div {
  margin-top: 123px;
  height: 6px;
  background-color: #e6e6e6;
}
.module6 {
  width: 100%;
  height: 460px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.module6-1,
.module6-2,
.module6-3 {
  width: 370px;
  background-color: #fff;
  margin-right: 12px;
  box-shadow: 3px 3px 3px #e1e1e1;
  text-align: center;
  color: #515769;
  position: relative;
}
.module6-1 button,
.module6-2 button,
.module6-3 button {
  display: block;
  background-color: #515769;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  margin: 0 auto;
  position: absolute;
  left: 34%;
  top: 68%;
}
.module6-1 img,
.module6-2 img,
.module6-3 img {
  display: block;
  margin: 0 auto;
}
.module6-1,
.module6-3 {
  height: 300px;
  margin-top: 60px;
}
.module6-1 img,
.module6-3 img {
  padding: 50px 0 45px 0;
}
.module6-2 {
  height: 380px;
}
.module6-2 h4 {
  font-size: 24px;
  margin-top: 35px;
}
.module6-2 img {
  padding: 45px 0 25px 0;
}
.span-bottom {
  display: block;
}
#span-bottom {
  display: block;
  margin-bottom: 55px;
}
.module7 {
  height: 868px;
  padding-top: 50px;
  color: #515769;
}
.module7 .module7-1 {
  width: 100%;
  margin: 0 auto;
}
.module7 .module7-1 span {
  color: #a6a7aa;
}
.module7-2 {
  display: flex;
  justify-content: center;
}
.module7-h4 {
  margin: 50px 0 39px 58px;
  font-size: 22px;
}
.module7-2-1 {
  width: 600px;
  height: 600px;
  margin: 65px 0 0 0;
  background-color: #fafafa;
  box-shadow: 1px 1px 1px #ececec;
  border-radius: 10px;
  position: relative;
}
.module7-2-1 h5 {
  margin: 40px 0 15px 78px;
}
.module7-2-1 li {
  font-size: 14px;
  margin: 0 0 0 104px;
  line-height: 25px;
}
.module7-2-1 div {
  position: absolute;
  left: 25%;
  text-align: center;
  bottom: 0;
}
.module7-2-1 div span {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
.module7-2-2 {
  margin-left: 80px;
}
